*{
    margin: 0;
}

body{
    background-color: cornsilk;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: rgb(50, 44, 94);
}

span{  
    color: #ad4b53;
}

p{
    font-size: 18px;
    font-family:cursive;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* nav dsign start */
.sidenav{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    padding-left: 60%;
    padding-top: 65px;
}

.sidenav a{
    text-decoration: none;
    margin-left: 45px;
    font-size: 25px;
    font-family: sans-serif;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(49, 38, 131);
}

.sidenav a:nth-child(1){
    background-color: #ece3bf;
    color: rgb(29, 55, 202);
}
/* nav design end */


/* intro area */
.first{
    width: 85%;
    height: 740px;
    margin-left: 10%;
    margin-top: 7%;
    
}

.intro{
    width: 35%;
    float: left;
    padding-top: 10%;
}

.intro a{
    text-decoration: none;
    color: ghostwhite;
    font-family: sans-serif;
    font-size: 22px;
    text-align: justify;
    padding: 15px 50px;
    border-radius: 10px;
    background: linear-gradient(to right top, #F59A60, #E47A7C,#BA6A8F,#81628F);
}

.introimg img{
    height: 700px;
    float: left;
    margin-left: 15%;
}

/* cv area */

.second{
    width: 88%;
    height: 740px;
    margin-top: 1%;
}

.cvimg img{
    height: 600px;
    margin-left: 10%;
    float: left;
}

.about{ 
    float: left;
    width: 35%;
    margin: 9% 0 0 10%;

}

.about h2{
    font-size: 50px;
}

.about a{
    text-decoration: none;
    color: ghostwhite;
    font-family: sans-serif;
    font-size: 22px;
    text-align: justify;
    padding: 15px 50px;
    border-radius: 10px;
    background: linear-gradient(to right top, #F59A60, #E47A7C,#BA6A8F,#81628F);
}

/* projects area */
.projects{
    height: 740px;
    background-color: #e0efe3;
    clip-path: polygon(50% 0%, 98% 0, 98% 35%, 98% 70%, 80% 90%, 50% 100%, 20% 90%, 2% 70%, 2% 35%, 2% 0);
}

.project::after{
    clear: both;
    content: "";
    display: block;
}

.heading h2{
    font-size: 40px;
    text-align: center;
}
hr{
    background: linear-gradient(95deg,#DDECE0,#B9D0C3, #94B6A9,#709B91, #4A827B, #1D6868);
    height: 5px;
    width: 200px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.project1, .project2, .project3
{
    height: 480px;
    width: 25%;
    margin-left: 6%;
    margin-top: 3%;
    background-color: rgba(196, 188, 163, 0);
    float: left;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 10px 10px  40px rgb(71, 71, 77);
}

.project1 img, .project2 img, .project3 img
{
    width: 450px;
    height: 280px;
    margin: 10px  11px;
    border-radius: 10px;   
}

.project1 h2, .project2 h2, .project3 h2
{
    font-size: 35px;
    background-color: transparent;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.project1 p, .project2 p, .project3 p{
    background-color: transparent;
    font-size: 22px;
    text-align: justify;
    padding: 8px 8px; 
}



/* extra */

body{
    position: relative;
}
.bgimg1{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 2600px;
    left: 1786px;
    bottom: 0;
}

.bgimg2{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 3000px;
    left: 0;
    bottom: 0;
}

.massage{
    height: 796px;
    width: 1400px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-image: url("img/msg.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 80px;
}


.contact h2{
    padding-top: 40px;
    font-size: 50px;
    text-align: center;
}

.contact hr
{
    width: 150px;
    height: 2px;
    background: linear-gradient(120deg, #051937, #002841, #003338, #003c21, #2f4106);
}

.contact p{
    text-align: center;
    margin-bottom: 30px;
}

form input,textarea{
    background-color: #ABC7E0;
}

.nam-mail{
    width: 50%;
    margin: auto;
}

form{
    margin-top: 3%;
}

form input ,textarea{
    color: white;
    border: 1px solid transparent;
}

.text-area{
    text-align: center;
}

textarea{
    width: 44%;
    margin-top: 30px ;
    border-radius: 5px;
    padding: 10px;
}

input[type="text"]{
    width: 40%;
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 35px;
}

input[type="email"]{
    width: 40%;
    padding: 15px;
    border-radius: 5px;
}

input[type="button"]{
    background-color: #478ea5 ;
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 40px;
    border: 2px solid transparent;
}

.submit{
    width: 12%;
    margin: auto;
}

input[type="text"]:hover{
    border-bottom: 1px solid rgb(227, 247, 252);
    transition: .5s;
}

input[type="email"]:hover{
    border-bottom: 1px solid rgb(227, 247, 252);
    transition: .5s;
}

textarea:hover{
    border-bottom: 1px solid rgb(227, 247, 252);
    border-right: 1px solid rgb(227, 247, 252);
    transition: .5s;
}

input[type="button"]:hover{
    border-bottom: 2px solid rgb(227, 247, 252);
    border-right: 2px solid rgb(227, 247, 252);
    transition: .2s;
}

/* massage area END */

/* inquary */

.box{
    height: 350px;
}

.inqu{
    background-image: url("img/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 1210px;
    margin: auto;
}

.inqu h2{
    font-size: 60px;
    color: antiquewhite;
    padding-top: 10%;
    padding-left: 4%;
    float: left;
}

.inqu a{
    text-decoration: none;
    font-size: 25px;
    margin-top: 10% ;
    margin-left: 30%;
    padding: 12px 20px;
    border-radius: 10px;
    float: left;
    color: mintcream;
    background: linear-gradient(120deg, #F05070, #DA4789, #B8499E);
}

/* footer */

.foot{
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 20% 10%);
    background-color: #344b8e;
    overflow: hidden;
}

.fsl{
    float: left;
    padding: 0 60px;
}


.fsl a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: cursive;
}

.fsl:nth-child(1){
    margin-left: 10%;
}





